body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.article {
    width: 800px;
    background-color: rgba(0, 0, 255, 0.03);
    padding: 10px;
    min-height: 600px;
    text-align: left;
    margin: 0 auto;
    border-radius: 10px;
}

.emoji-select {
    padding-top: 10px;
    width: 400px;
    margin: 5px auto;
}

.bn39 {
    /* background-image: linear-gradient(135deg, #008aff, #86d472); */
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.bn39 .bn39span {
    align-items: center;
    /* background-color: rgb(255, 191, 255); */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    text-align: center;
}

/* .bn39span {
    justify-self: center;
    align-self: center;
} */
.bn39:hover .bn39span {
    background-image: linear-gradient(135deg, #b5dcff, #d2fcc7);
}

.eGrid {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
    align-self: center;
    z-index: 2;
}

.grid-element {
    font-size: 30px;
    z-index: inherit;
    /* justify-self: center;
    align-self: center; */
}

.App {
    align-self: center;
    margin: 0 auto;
}

.category {
    width: 400px;
    margin: 10px auto;
    padding-top: 30px;
}

.output {
    z-index: 0;
}

.img-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* align-items: flex-end; */
    justify-items: center;
}

.img-tag {
    font-weight: normal;
    margin: 0;
}

/* nav {
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 25px;
    background-color: slateblue;
    color: rgba(255, 255, 255, 0.95);
    width: 800px;
    border-radius: 8px;
} */


span#title-wiki,
span#title-emoji {
    /* font-family: 'Libre Baskerville', serif; */
    font-size: 60px;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-weight: 200;
}

span#title-emoji {
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'IBM Plex Serif', serif; */
    font-style: normal;
}


/* font-family: 'Courgette', cursive;
font-family: 'Libre Baskerville', serif; */

highlight {
    background-color: deepskyblue;
    padding: 2px 5px 2px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
    margin: auto;
    border-radius: 4px;
    color: white;
}

li {
    height: max-content;
    margin: 10px;
}

ul {
    list-style-type: none;
}

.emoji-details {
    margin: 10px auto;
    padding: 5px 10px;
    width: 800px;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.03);
    text-align: left;
}

h1.ui.header.main-head {
    margin: 40px auto;
}

.ui.vertical.stripe {
    padding: 4em 0em;
}

code {
    background-color: rgba(0, 0, 0, 0.1);
}

.ui.padded.segment.forImage {
    justify-self: stretch;
    margin: 1rem 0;
}

.ui.fluid.image.my-img {
    max-width: min(100%, 120px);
    margin-top: 20px;
    width: unset;
    margin-left: auto;
    margin-right: auto;
}